@import url(./vendor/normalize.scss);
@import url(./vendor/fonts/fonts.scss);

:root {
  --red: #ff3055;
  --lightgreen: #2be080;
  --white: #ffffff;
  --grey-dark: #a0a0a0;
  --grey-light: #e8e8e8;
  --darkgreen: #073042;
  --blue: #3456f3;
  --background-search: #f9f9f9;
  --background-frontend: #f2f2f2;
}
